

.mojaH2{
    color: rgb(48, 49, 48);
}

.imgKniha {
}

.bookLine{
    margin-top: 32px;
    margin-bottom: 48px;
}

.oneBook{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 10vw;
    padding: 50px;
}