



.all_movies_content{
    background-color: rgb(36, 36, 36);
    display: flex;
    flex-direction: row;
    width: 500px;
    overflow: hidden;
    height: 400px;
    text-align: center;
    position: relative;
    box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.4);
}

.one_movie{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    opacity: 0;
    padding: 30px;
    color: rgb(240, 240, 240);
    transition: 700ms;
}

.one_movie.active-slide{
    opacity: 1;
    transform: translateX(0);
}

.one_movie.last-slide{
    transform: translateX(-100%);
}

.one_movie.next-slide{
    transform: translateX(100%);
}

.slider{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.btns button{
    background: none;
    border: none;
    cursor: pointer;
}



.sliderBtn{
    display: flex;
    margin: 8px;
    font-size: 25px;
}